<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HybridTestFramework/src/main/java/BaseClass/TestBase.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="BaseClass.TestBase"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HybridTestFramework"/>
</launchConfiguration>
